body {background-color: lightgreen
} /* пофарбування двох сторінок */
h1 {
    color: darkcyan;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.contact {
background-color: cadetblue;
}
.gallery {
    color: blue;
    text-align: center;

}